body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: white;
    color: black;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    margin: 0;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.logo a:hover{
    color: blue;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    display: inline-block;
    font-weight: bold;
    font-size: large;
}
.nav-links li a:hover{
    color: blue;
}


.content {
    padding: 20px;
}

/* form here going to write css for home */
.main{
    background-image: url('./assets/bg1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.heading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.card-main{
    margin: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.card{
    width: 375px;
    height: 500px;
    transition: 1s ease;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.head{
    margin: 15px;
    font-weight: bold;
}
.paragraph{
    margin: 15px;
}
.btn-outline-primary{
    width: 120px;
    margin: 15px;

}



/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}

/* footer starts from here */
.footer {
    background-color:white;
    color: black;
    text-align: center;
    text-justify: c;
    padding: 10px;
    position:static;
    bottom: 0;
    width: 100vw;
}
/* aboutus */

.aboutUsMain {
    background-color: rgb(229, 240, 237);
    height: 600px;
    padding: 30px;
}

div .abouthero {
    text-align: center;
    text-decoration: underline;
}

.abdivison {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutCont {
    height: 400px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sytleerImage {
    height: 380px;
    width: 323px;
    border: 10px solid red;
}

.sytleerImage img {
    height: 105%;
    width: 100%;
    margin-left: 10%;
    margin-top: 10%;
}

.aboutCont p {
    padding: 30px;
}

/* end of contactus */




/* contact us styling start from here */

.contacUs {
    height: 550px;
    background-color: rgb(229, 240, 237);
}

div .cHeader {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.cHeadrPar {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;

    height: 80px;

}

.innerContact {
    display: flex;
    margin-left: 300px;
}

.userInfo {
    margin-right: 20px;
    height: 450px;
    width: 450px;
    padding: 20px;
    margin-top: 30px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.mb-3 {
    margin-top: 2rem;
}

.abouTeam {
    margin-top: 60px;
    margin-right: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    height: 350px;
    background-color: white;
}

.headTemMem {
    font-weight: bold;
    font-size: x-large;
}

.imageTeam {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.imageTeam img {
    height: 100%;
    width: 100%;
    border-radius: 50%;

}

.imageTeam p {
    align-items: center;
    text-align: center;
}

.teamDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    padding-top: 40px;
}



/* contact us styling end here */